/* * {
    border-style: solid;
    border-color: red;
} */


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


h1{
    font-family: Yellowtail;
    margin-top: -10px;
    margin-bottom: 0px;
    font-size: 38px;
  
}

h2 {
    margin-top: 45px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 38px;
    margin-bottom: 0px;
    text-indent: .2em;
}

h3 {
    /* display: inline; */
    margin-top: -20px;
}


/* Header section ++++++++++++++ */

header hr {
    height: 15px;
    background-color: #ddd;
    border: none;
    margin-top: 0px;
    margin-bottom: 40px;
    background: repeating-linear-gradient( 
        45deg,
        #fff,
        #fff 2px,
        #555 2px,
        #555 3px);
    /* Gradient borrowed from https://love2dev.com/blog/css-background-stripes/ */
  }

  #social li {
    display: inline;
    float: left;
    text-align: center;
    padding: 1px;
}

#social li:nth-child(7) {
  padding-left: 10px;
}

#social {
    float: right;
    padding-right: 23px;
    padding-top: 20px;
}


#logo li{
    float: left;
    /* padding-right: 10px; */
}

#logo p {
    font-size: 10px;
    float: left;
}

#slogan {
    margin-top: 32px;
    display: block;
    text-indent: 0em;
    margin-left: -118px;
}

#logo {
  display: inline-block;
  float: none;
  /* padding-right: 125px; NOT WORKING*/
}
/* END HEADER SECTION ========== */




article {
    max-width: 900px;
    margin-left: 30px;
}

p {
    text-indent: 2em;
    font-size: 20px;
    /* max-width: 900px; */
}

body {
    width: 960px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    float: left;
}


/* Notepad section =============  */
#notepad {
    background-image: url("/assets/list-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 899px;
    margin: 0 auto;
}

  .strike {
    text-decoration: line-through;
  }

  .recipe li{
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7b6a24;
    font-size: 20px;
    line-height: 20px;
}

#recipeRight {
  padding-left: 170px;
  padding-top: 24px;
}

#recipeLeft {
  padding-left: 70px;
  padding-top: 24px;
}


/* end notepade */





  #printer {
      float: right;
      display: inline-block;
      padding-right: 28px;
      margin-bottom: 40px;
      margin-top: -50px;
  }

  #printer p {
      float: right;
      padding-left: 5px;
      color: grey;
      font-size: 14px;
      font-family: monospace;
  }

  #printer p {
      margin: 0px;
      text-indent: 0em;
  }

  #title p {
    color: grey;
    font-size: 16px;
    font-family: monospace;
    text-indent: 1.85em;
    margin-top: 4px;
    padding-top: 0px;
  }

  hr {
      width: 900px;
  }


p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 20px;
}

main hr {
    height: 15px;
    background-color: #ddd;
    border: none;
    margin-top: 0px;
    margin-bottom: 40px;    
    background: repeating-linear-gradient( 
        45deg,
        #fff,
        #fff 2px,
        #555 2px,
        #555 3px);
    /* Gradient borrowed from https://love2dev.com/blog/css-background-stripes/ */
  }

/*=======================================*/
/* FOOTER SECTION =======================*/

h3 {
    padding-top: -50px;
    display: inline;
    margin-top: -50px;
}

footer article h3 {
    display: inline;
    font-size: 22px;
    margin-top: -55px;
}

footer article p {
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 22px;
    color: #555;
    width: 650px;
    text-indent: 0em;
}

footer button {
    float: right;
    padding: 15px 30px;
    background-color: #D8613C;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: -45px;
  }

  #copywrite {
    margin: 0 auto;
    width: max-content;
    text-align: center;
    padding: 50px;
    padding-top: 0px;
    
  }
#copywrite p{
    color: #bbbbbb;
    line-height: 18px;
    margin-top: 0px;
    padding: 0px;
}

  #leftHR {
      float: left;
  }

  #rightHR {
      float: right;
  }

  .halfsize {
    max-width: 48%;
    color: #D8613C;
}

footer img {
    float: left;
    padding-bottom: 10px;
    margin-top: -6px; 
    margin-right: 20px;
}


#bio {
    display: inline;

}

#footerDivider {
    padding-top: 85px;
}