/* * {
    border-style: solid;
    border-color: red;
} */
h1{
    font-family: Yellowtail;
    margin-top: 0px;
}

h2 {

}

p {
    margin-top: 1px;
}

body {
    width: 960px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    float: left;
}

#notepad {
    background-image: url("/assets/list-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 899px;
    margin: 0 auto;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 ul.recipe {
      list-style-type: square;
   
  }

  .strike {
    text-decoration: line-through;
  }

  #social li {
      display: inline;
      float: left;
      text-align: center;
      
  }

  #social {
      float: right;
  }

  #logo li{
      float: left;
  }

  #printer {
      float: right;
      padding-right: 25px;
  }
/* 
  #title {
      display: inline-block;
  } */